<div align='center'><h1>Bookstore CRUD with Angular</h1></div>

<div>
  <table class="table" style="width: 80%">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
    <tr *ngFor="let book of books">
      <td>
        {{book.title}}
      </td>
      <td>
        {{book.author}}
      </td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="addBook()"> Add Book</button>
  </p>
</div>

<div>
  <b>yesterday: {{rate.yesterday}}</b>
  <p>
</div>
<div>
  <b>today: {{rate.today}}</b>
  <p>
</div>
<div>
  <img src="{{rate.url}}" width="250"/>
</div>
<router-outlet></router-outlet>
